<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form th:action="@{/usuario}" method="post">

  <label for="nombre">Nombre</label>
  <input type="text" id="nombre" th:field="${usuario.nombre}">

  <label for="correo">Correo</label>
  <input type="number" id="correo" th:field="${usuario.correo}">

  <label for="pertenece">Pertenece</label>
  <input type="number" id="pertenece" th:field="${usuario.pertenece}">

  <label for="rol">Rol</label>
  <input type="number" id="rol" th:field="${usuario.rol}">

  <label for="usuario">Usiario ID</label>
  <input type=number id="usuario" th:field="${empresa.usuario.id}">

  <input type="submit" value="Agregar usuario">

</form>
</body>
</html>