<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Document</title>
</head>
<body>
<h1>Interfaz de Empresa</h1>
<h2>Bienvenidos a la interfaz de Empresa</h2>
<p>Puedes agregar, enlistar, editar y borrar registros de Empresa</p>
<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/empresa">Empresa</a></li>
        <li><a href="/usuario">Usuario</a></li>
        <li><a href="/movimiento">Movimiento</a></li>
    </ul>
</nav>
<main>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Nit</th>

        </tr>
        <tr th:each="empresa : ${empresas}">
            <td th:text="${empresa.nombre}"></td>
            <td th:text="${empresa.direccion}"></td>
            <td th:text="${empresa.telefono}"></td>
            <td th:text="${empresa.nit}"></td>
            <td th:text="${empresa.usuario.nombre}"></td>
            <td><a th:href="@{/empresa/editar/{id} (id = ${empresa.id})}">✍</a></td>
            <td><a th:href="@{/empresa/borrar/{id} (id = ${empresa.id})}">❌</a></td>
        </tr>
    </table>
    <a href="/agregar-empresa">Agregar una nueva Empresa</a>
</main>
<footer>
    <p>Creado por guillermobecerra92@yahoo.es</p>
    <p>Equipo AdaLovalaice</p>
    <p>Proyecto MisionTIC 2022</p>
</footer>
</body>
</html>